@section TitleSection {
    Products
}
@model Product
<div class="col-md-12">
    <div class="card card-primary card-outline mb-4">
        <div class="card-header">
            <div class="card-title">Edit Product</div>
        </div>
        <form asp-controller="Products" asp-action="Update" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Quantity" class="form-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Rate" class="form-label"></label>
                    <input asp-for="Rate" class="form-control" />
                </div>
               
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Update</button>
                </div>
            </form>
        </div>
    </div>